
/* Navbar */

:root {
    --bg-dark: #0f0524;
    --card-bg: #1a0b3d;
    --accent-green: #00ffaa;
    --gradient-main: linear-gradient(to right, #ec4899, #8b5cf6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: white;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo span {

    background: var(--gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
}

.btn-primary-nav {
    
    background: var(--gradient-main);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}



